* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a:visited, a:link { 
    color: #000000; 
} 

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.flex {
    display: flex;
    width: 100%;
}


body {
    background-color: #F2F2F0;
}

header {
    background-color: #0B0C0D;
    color: #ffffff;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.menu .logo  a{
    font-size: 32px;
}

.menu  a {
    display: block;
    color: #ffffff;
    font-size: 20px;
}

.menu .button-create:hover {
    color: #0A9CFF;
}

main h1 {
    margin-top: 30px;
    text-align: center;
}

main .intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    padding-bottom: 90px;
}

.intro .user-item-container {
    background-color: #ffffff;
    padding-top: 10px;
    width: 25%;
    text-align: center;
    border-radius: 15px;
    font-size: 18px;
}

.user-item-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-wrap: break-word;
}

.user-item-content h2 {
    margin-bottom: 15px;
}

.user-item-content ul li {
    margin-bottom: 8px;
}
 
.user-item-content .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    padding: 10px 0px;
    margin-top: 10px;
    color: #ffffff;
    overflow-wrap: anywhere;
}

.user-item-content .button-view {
    background-color: #16A2B8;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.user-item-content .button-edit {
    background-color: #F2BB16;
    padding: 5px;
    border-radius: 5px;
}

.user-item-content .button-del {
    background-color: #F23838;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.user-item-content .button-view:hover {
    background-color: #0A9CFF;
}

.user-item-content .button-edit:hover {
    background-color: #FFD800;
}

.user-item-content .button-del:hover {
    background-color: #FF1F00;
}

.form-container {
    width: 100%;
    text-align: center;
    padding: 50px 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.container-form {
    width: 100%;
}

.form-cadastro {
    width: 100%;
}

.form-item {
    width: 100%;
    margin: 20px 0px;
}

.form-item input {
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #0B0C0D;
}

.form-item select {
    width: 32%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #0B0C0D;
    
}

.form-item input[type="submit"] {
    width: 96%;
    background-color: #0B0C0D;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
}

.form-item input[type="submit"]:hover {
    background-color: green;
}

.box-form input{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0B0C0D;
    outline: none;
}

.form-item label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #0B0C0D;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.modal-container {
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.modal-content .close {
    text-align: end;
}

.modal-content .close span {
    cursor: pointer;
}

.modal-content .content {
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content .content .result {
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.modal-content .content .result li{
    margin: 10px 0px;
    font-weight: 500;
    font-size: 19px;
}

.modal-content .content .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.modal-content .content .buttons a {
    display: block;
    padding: 10px;
    width: 100%;
    margin-left: 10px;
    margin-top: 20px;
}

.modal-content .content .buttons .del {
    background-color: #F23545;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.modal-content .content .buttons .edit {
    background-color: #FADB2A;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
} 

.message {
    padding: 5px;
    color: #ffffff;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}

.buttons-modal {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    gap: 30px;
}
