* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.flex {
    display: flex;
    width: 100%;
}


body {
    background-color: #F2F2F0;
}

header {
    background-color: #0B0C0D;
    color: #ffffff;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.menu .logo {
    font-size: 32px;
}

.menu  a {
    display: block;
    color: #ffffff;
    font-size: 20px;
}

main h1 {
    margin-top: 30px;
    text-align: center;
}

main .intro {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.intro .user-item-container {
    background-color: #ffffff;
    padding-top: 10px;
    width: 25%;
    text-align: center;
    border-radius: 15px;
    font-size: 18px;
}

.user-item-content h2 {
    margin-bottom: 15px;
}

.user-item-content ul li {
    margin-bottom: 8px;
}
 
.user-item-content .button-view {
    display: block;
    background-color: #0B0C0D;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 0px;
    margin-top: 10px;
    border-radius: 0px 0px 15px 15px;
}

.user-item-content .button-view:hover {
    background-color: #1C76CC;
}

.form-container {
    width: 100%;
    text-align: center;
    padding: 50px 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.container-form {
    width: 100%;
}

.form-cadastro {
    width: 100%;
}

.form-item {
    width: 100%;
    margin: 20px 0px;
}

.form-item input {
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #0B0C0D;
}

.form-item select {
    width: 32%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #0B0C0D;
    
}

.form-item input[type="submit"] {
    width: 96%;
    background-color: #0B0C0D;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
}

.form-item input[type="submit"]:hover {
    background-color: green;
}

.box-form input{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0B0C0D;
    outline: none;
}

.form-item label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #0B0C0D;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.modal-container {
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.modal-content .close {
    text-align: end;
}

.modal-content .close span {
    cursor: pointer;
}

.message {
    padding: 5px;
    color: #ffffff;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}